<div class="conainer">
    <div class="row">
        <div 
            class="school text-center animate-hidden"
            when-visible="animateElementInFADE"
            when-not-visible="animateElementOutFADE"
        >
            <span class="col-xs-12">Professional course in</span>
            <span class="col-xs-12">IT & Manegement</span>
            <span class="col-xs-12">adobe programes & programming</span>
            <span class="col-xs-12">languages. <span class="__v1">(2001-2004)</span> & Professional</span>
            <span class="col-xs-12">course in  <span class="__v1">3ds Max</span> (2014)</span>
        </div>
    </div>
</div>